<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a href="/" class="navbar-brand mb-0">ChartPython</a>
    </nav>
    <a href="/" style="float: right; margin-right: 15px;"><button class="btn btn-primary">Retour</button></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ name }}</h2>
                <div class="card">
                    <div class="card-header">
                        CPU
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="cpuDonut"></canvas>
                                <script>
                                  var ctx = document.getElementById("cpuDonut");
                                  var myChart = new Chart(ctx, {
                                      type: 'doughnut',
                                      data: {
                                          labels: ["CPU libre (%)", "CPU utilisé (%)"],
                                          datasets: [{
                                              label: 'CPU',
                                              data: [{{ cpuFree }}, {{ cpuUsed }}],
                                              backgroundColor: [
                                                  'rgba(51, 153, 255, 1)',
                                                  'rgba(215, 40, 40, 1)'
                                              ]
                                          }]
                                      }
                                  });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Mémoire
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="memoireDonut"></canvas>
                                <script>
                                  var ctx = document.getElementById("memoireDonut");
                                  var myChart = new Chart(ctx, {
                                      type: 'doughnut',
                                      data: {
                                          labels: ["Mémoire libre", "Mémoire utilisé"],
                                          datasets: [{
                                              label: 'Mémoire actuelle',
                                              data: [{{ memoryFree }}, {{ memoryUsed }}],
                                              backgroundColor: [
                                                  'rgba(51, 153, 255, 1)',
                                                  'rgba(215, 40, 40, 1)'
                                              ]
                                          }]
                                      }
                                  });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<h1>Hello World !</h1>
    <div>
        {% if name %}
            <p>This is my first Flask application ! By {{ name }}</p>
        {% else %}
            <p>This is my first Flask application !</p>
        {% endif %}
    </div>-->
</body>
</html>